logs
*.log

pids
*.pid
*.seed

lib-cov
coverage
/coverage/
.grunt

build/Release

.lock-wscript
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

/node_modules
/bower_components
npm-debug.log

/doc/xcode/

/src/typings/tsd/
/typings/
/tsd_typings/

/dist/
/public/__build__/
/src/*/__build__/
/__build__/**
/public/dist/
/src/*/dist/
/dist/**
.webpack.json

.idea/
*.swp
